    <script src="/js/bootstrap.bundle.min.js"></script>

    <footer class="footer-bg mt-auto">
        <div class="text-center">
            <small>&copy; <%= new Date().getFullYear() %> Made by Golddiggers. All rights reserved.</small>
        </div>
    </footer>

</body>
</html>
